<header class="admin-header">
  <%= title 'Subscribers' %>
  <%= link_to 'Download as CSV', admin_conference_edition_subscribers_path(@conference_edition, format: :csv), class: 'btn btn-default main-cta' %>
</header>

<% if @subscribers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.created_at.to_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no subscribers for this conference edition yet.
  </p>
<% end %>
