<header class="admin-header">
  <%= title 'Organizers' %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'Invite a new organizer', new_admin_conference_edition_organizer_invitations_path(@conference_edition), class: 'btn primary-btn main-cta' %>
  <% end %>
</header>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @organizers.each do |organizer| %>
      <tr>
        <td><%= organizer.id %></td>
        <td><%= organizer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
