<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi there,</p>
    <p><%= @inviter_name %> has invited you to join <strong><%= @conference_name %> organizing team</strong>.</p>
    <p>To sign in as an organizer, just follow this link:</p>
    <p><%= @signup_url %></p>
    <p>Happy conferencing!</p>
  </body>
</html>
