<h1 class="primary-heading">All Conferences</h1>

<ul>
  <% @conferences.each do |conference| %>
    <li><%= link_to conference.name, root_url(:subdomain => conference.subdomain) %></li>
  <% end %>
</ul>
