<%= title t 'all_conferences' %>
<%= link_to 'New conference', new_admin_conference_path, class: 'btn primary-btn' %>

<ul>
  <% @conferences.each do |conference| %>
    <li><%= link_to conference.name, root_url(:subdomain => conference.subdomain) %></li>
  <% end %>
</ul>
