<% if current_user %>
  <div class="nav pull-right dropdown authentication">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= image_tag current_user.image %>
      <%= current_user.name %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to t('sign_out'), logout_path %></li>
    </ul>
  </div>
<% end %>
