<% if object && object.errors.size > 0 %>
  <div class="alert alert-error">
    <p><strong>Oh snap!</strong> Change a few things up and try submitting again</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
