<% if object && object.errors.size > 0 %>
  <div class="alert alert-danger">
    <p><strong><%= t 'please_resubmit' %>:</strong></p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
