<ul class="lang">
  <li><%= link_to_unless_current( t('en'), locale: "en") %></li>
  <li><%= link_to_unless_current( t('es'), locale: "es") %></li>
  <li><%= link_to_unless_current( t('pt'), locale: "pt") %></li>
</ul>
