<%# @param conference [Conf::Models::Conference] %>

<ul class="lang">
  <% conference.languages.each do |l| %>
    <li><%= link_to_unless_current( t(l.code), locale: l.code) %></li>
  <% end %>
</ul>
