<ul class="lang">
  <li><%= link_to_unless_current "English", locale: "en" %></li>
  <li><%= link_to_unless_current "Español", locale: "es" %></li>
  <li><%= link_to_unless_current "Português", locale: "pt" %></li>
</ul>
