<section class="intro">
  <h1>Conference organization made easy</h1>
  <ul>
    <li class="first">Free</li>
    <li>Simple</li>
    <li>Custom</li>
  </ul>
  <%#= link_to('Create an event', "#", class: 'btn')%>
</section>

<section class="stages">
  <h1>A different site on each stage</h1>

  <div class="stage-wrapper">
    <section class="pre-conference">
      <h1>Pre Conference</h1>
      <p>Emphasis on call for proposals, sponsorship packages and info about previous editions.</p>
    </section>

    <section class="during-conference">
      <h1>During Conference</h1>
      <p>The schedule, the speakers and the sponsors are all set. Let’s show them off!</p>
    </section>

    <section class="after-conference">
      <h1>After Conference</h1>
      <p>Get everyone emotional with conference pics and easy access to each speaker’s video and slides.</p>
    </section>
  </div>
</section>

<!-- <section class="main-features">
  <h1>Main Features</h1>

  <section>
    <h1>Custom Domain</h1>
    <p>Use your brand’s own custom domain as the main conference url. You may also use one of our subdomains while you get your site ready.</p>
  </section>

  <section>
    <h1>Custom Styles</h1>
    <p>Each conference has its own personality. Show off your own by uploading your own custom images and stylesheets.</p>
  </section>

  <section>
    <h1>Multi Language</h1>
    <p>English, Spanish, Portuguese and more to come!</p>
  </section>

  <section>
    <h1>Single and multi track conferences</h1>
    <p>Host several talks simultaneously at your event or just one at a time.</p>
  </section>

  <section>
    <h1>Blog</h1>
    <p>Update your site often with fresh news to keep everyone excited. Get them ready for early bird fees, announce new sponsors and speakers as they come.</p>
  </section>

  <section>
    <h1>Free</h1>
    <p>Want to spread the word about the topics that excite you the most?. Just get your conference out there. No hidden costs, no credit card required.</p>
  </section>
</section> -->
