<%# @param conference_edition [Array<Conf::Models::ConferenceEdition>] %>
<%# @param display_descriptions boolean %>

<h1 class="primary-heading">Sponsors</h1>

<% conference_edition.grouped_sponsors.each do |sponsor_kind, sponsors| %>
  <section class="sponsor-kind">
    <h1 class="secondary-heading"><%= sponsor_kind %></h1>
    <% for sponsor in sponsors %>
      <article class="sponsor">
        <% if display_descriptions %>
          <h1 class="tertiary-heading"><%= sponsor.name %></h1>
          <p><%= sponsor.description %></p>
        <% else %>
          <h1 class="tertiary-heading"><%= sponsor.name %></h1>
        <% end %>
      </article>
    <% end %>
  </section>
<% end %>
