<%# @param conference_edition [Array<Conf::Models::ConferenceEdition>] %>

<h1 class="primary-heading">Sponsors</h1>

<% conference_edition.grouped_sponsors.each do |sponsor_kind, sponsors| %>
  <section class="sponsors">
    <h1 class="secondary-heading"><%= sponsor_kind %></h1>
    <% for sponsor in sponsors %>
      <article>
        <h1 class="tertiary-heading"><%= sponsor.name %></h1>
        <p><%= sponsor.description %></p>
      </article>
    <% end %>
  </section>
<% end %>
