<%# @param conference_edition [Array<Conf::Models::ConferenceEdition>] %>

<h1>Sponsors</h1>

<% conference_edition.grouped_sponsors.each do |sponsor_kind, sponsors| %>
  <section>
    <h1><%= sponsor_kind %></h1>
    <% for sponsor in sponsors %>
      <article>
        <h1><%= sponsor.name %></h1>
        <p><%= sponsor.description %></p>
      </article>
    <% end %>
  </section>
<% end %>
