<%# @param conference_editions [Array<Conf::Models::ConferenceEdition>] %>

<% conference_editions.each do |edition| %>
  <article class="conference-edition">
    <h3 class="secondary-heading"><%= link_to "#{edition.to_s}", conference_edition_talks_path(edition) %></h3>
  </article>
<% end %>
