<h1 class="primary-heading">Previous Editions</h1>

<% @conference_editions.each do |edition| %>
  <article class="conference-edition">
    <h1 class="secondary-heading"><%= link_to "#{edition.to_s}", conference_edition_path(edition) %></h1>
    <%= video_embed_code(edition.promo_video_provider, edition.promo_video_uid) %>
  </article>
<% end %>
