<h1 class="primary-heading">Talks</h1>

<% @conference_edition.talks.each do |talk| %>
  <article>
    <h1 class="secondary-heading"><%= talk.title %></h1>
    <p class="author"><%= speaker_names(talk, @conference_edition) %></p>
    <p><%= talk.description %></p>
  </article>
<% end %>
