/*
  Admin Styles
*/

@import 'admin/bootstrap_and_overrides';

.main-admin-header {
  line-height: 30px;
  padding: 3px 10px;
  border-bottom: 5px solid $turquoise;
  min-height: 0;
  .brand {
    color: $gray;
    font-size: 20px;
    font-weight: 200;
  }
  .authentication img {
    height: 30px;
    margin-right: 1em;
  }
}

.main-admin-sidebar {
  padding-top: 8px;
  background: #fff;
  a {
    display: block;
    text-decoration: none;
    padding: 3px 20px;
    color: #777;
    border-left: 3px solid transparent;
    &.conference-edition-nav-item,
    &.conference-nav-item {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 3px 10px;
    }
    &.conference-edition-nav-item {
      color: $darkGreen;
    }
    &.conference-nav-item {
      color: $green;
    }
    &:hover {
      border-color: $orange;
      color: $orange;
    }
  }
}

.main-admin-content-area {
  padding-right: 10px;
  .admin-header {
    margin-bottom: 20px;
    position: relative;
    .btn-wrapper,
    .main-cta {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }
  .nav-tabs.on-table {
    margin-bottom: 0;
    & > .active > a {
      border-bottom-color: #fafafa;
      background: #fafafa;
    }
  }
  .primary-heading {
    margin-bottom: 40px;
  }
  h2 {
    font-weight: normal;
    margin: 20px 0;
    font-size: 21px;
    text-transform: capitalize;
  }
  .alert {
    margin: 20px 0;
  }
  td .alert {
    margin-top: 0;
  }
  .table {
    margin-bottom: 40px;
    tr:first-of-type td,
    tr:first-of-type th {
      border: 0;
    }
    th {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: normal;
      color: #888;
    }
    thead th {
      background: #fafafa;
    }
    td:first-of-type,
    th:first-of-type {
      padding-left: 12px;
    }
    .actions {
      a {
        margin-right: 10px;
        text-decoration: none;
      }
      form {
        display: inline;
        button {
          background: none;
          border: 0;
          margin-right: 10px;
          padding: 0;
          color: $green;
          &:hover {
            color: $darkGreen;
          }
        }
      }
    }
  }
}

// conference_editions#appearance

.edition-custom-images {
  li {
    position: relative;
    padding-left: 120px;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 0.8em;
    margin-bottom: 10px;
    img {
      position: absolute;
      left: 0;
      height: 50px;
      max-width: 120px;
      overflow: hidden;
    }
    .removal-form {
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover {
      background: #f7f7f9;
    }
  }
  .alert {
    margin-bottom: 10px;
  }
}

// sessions#new

.signup {
  margin: 70px auto;
  text-align: center;
  .authentications-list {
    margin: 3em 0 0 0;
    li {
      display: inline-block;
    }
  }
}

// talks#show

.talk-header {
  .primary-heading {
    margin-bottom: 0;
  }
  h2 {
    text-transform: none;
    margin-bottom: 2em;
  }
  img {
    max-height: 45px;
    margin-right: 12px;
  }
  .label {
    float: right;
    margin: 12px 0;
  }
}
.speaker-details {
  border-bottom: 5px solid #efefef;
  padding-bottom: 2em;
  margin-bottom: 2em;
  ul {
    margin-left: 5px;
  }
  .social-media li {
    display: inline-block;
    width: 32%;
    i {
      color: #ccc;
      margin-right: 1em;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.talk-actions {
  border-top: 5px solid #efefef;
  margin-top: 2em;
  padding: 2em 0;
  h2 {
    margin-top: 0;
  }
  form {
    display: inline-block;
    &.pull-left {
      margin-right: 0.5em;
    }
    &.pull-right {
      margin-left: 0.5em;
    }
  }
  .skip {
    float: right;
  }
}
.talks-ranking {
  margin-bottom: 0;
  img {
    max-width: 35px;
  }
  .speaker {
    color: #888;
  }
}

// slots#form

.slot_start_time select,
.slot_end_time select {
  width: 4em;
}

// notifications#preview

.notification {
  dl {
    margin-bottom: 10px;
  }
  dt {
    float: left;
    width: 5em;
  }
  .preview-area {
    padding: 1em;
    margin-bottom: 40px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    ul {
      margin-bottom: 1em;
    }
  }
}
.form-horizontal textarea.notification-text-field {
  height: 20em;
}

// sponsors#index

.sponsor-contacts {
  padding-bottom: 20px;
}

// utilities

.note {
  color: #888;
  float: right;
  font-size: 0.7em;
  font-style: italic;
}
.table-with-avatars {
  img {
    width: 60px;
    margin-right: 1em;
  }
  td {
    vertical-align: middle;
  }
}
