/*
 *= require_self
 *= require_tree .
 */

// Eric Meyer's Reset CSS v2.0 - http://cssreset.com
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import 'application/layout';

// Default Styles
body {
  font-family: Helvetica, Arial, Sans-Serif;
  color: #333;
}

// Headings
.primary-heading,
.secondary-heading,
.tertiary-heading {
  font-weight: bold;
  margin-bottom: 1em;
  clear: both;
}
.primary-heading {
  margin-top: 1em;
  font-size: 48px;
}
.secondary-heading {
  font-size: 24px;
  text-transform: uppercase;
  color: #444;
}
.tertiary-heading {
  font-size: 18px;
  color: #777;
}
.with-tagline {
  margin-bottom: 0;
}
.tagline {
  color: #777;
  margin-bottom: 0;
  &.last {
    margin-bottom: 1em;
  }
}

/* paragraphs */
p {
  margin-bottom: 1em;
}
p strong {
  font-weight: bold;
}

/* quotes */
blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -0.4em;
}
blockquote b {
  display: block;
  text-indent: 0;
}

/* links */
a {
  color: blue;
}
a:hover {
  text-decoration: none;
}

/* buttons */
.btn {
  background: #dedede;
  border: 1px solid #cecece;
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  &:hover {
    background-color: #cecece;
  }
}

/* tabs */
.tabs {
  border-bottom: 1px solid #ddd;
  & > li {
    display: inline-block;
    margin-bottom: -1px;
  }
  a {
    border: 1px solid transparent;
    display: inline-block;
    padding: 10px;
    &.current {
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      background-color: #fff;
    }
  }
}

/* Messages */
.alert {
  padding: 8px 14px;
  margin-bottom: 20px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  li {
    list-style: disc inside;
  }
  &.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
  &.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}

/* Forms */
.simple_form {
  text-align: left;
  fieldset {
    margin-bottom: 4em;
  }
  legend {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 3em;
  }
  .control-group {
    margin-bottom: 2em;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  textarea,
  select {
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
  }
  textarea {
    height: 8em;
  }
  input[type="submit"] {
    min-height: 35px;
  }
  .help-block {
    font-size: 0.8em;
    color: #888;
    font-style: italic;
  }
  &.form-inline {
    input {
      display: inline-block;
    }
  }
  &.subscription-form {
    text-align: center;
    input {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    input[type="text"] {
      width: 50%;
    }
    input[type="submit"] {
      width: 10%;
    }
  }
}

/* Tables */
table {
  width: 100%;
  th,
  td {
    text-align: left;
    padding: 1em;
    border: 1px solid #dfdfdf;
  }
  th {
    width: 30%;
    font-weight: bold;
  }
}

/* Posts */
.summarized-posts {
  margin: 0;
  text-align: left;
  .post {
    a {
      display: block;
      width: 100%;
      color: #555;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
    .date,
    .title,
    .summary {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 0;
      overflow: hidden;
    }
    .date {
      width: 10%;
      font-size: 1em;
    }
    .title {
      width: 30%;
      font-size: 1.5em;
      overflow-x: ellipsis;
    }
    .summary {
      width: 59%;
      font-size: 1em;
      overflow-x: ellipsis;
    }
  }
}

/* Map */
#map-canvas {
  width: 100%;
  height: 400px;
}

/* Utilitites */
.hidden {
  display: none;
}
.current {
  color: #333;
  text-decoration: none;
  cursor: default;
}
