/*
 *= require_self
 *= require_tree .
 */

// Eric Meyer's Reset CSS v2.0 - http://cssreset.com
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

// Default Styles
body {
  font-family: Helvetica, Arial, Sans-Serif;
  color: #333;
}

// Headings
.primary-heading,
.secondary-heading,
.tertiary-heading {
  font-weight: bold;
  margin-bottom: 1em;
  clear: both;
}
.primary-heading {
  margin-top: 1em;
  font-size: 48px;
}
.secondary-heading {
  font-size: 24px;
  text-transform: uppercase;
  color: #444;
}
.tertiary-heading {
  font-size: 18px;
  color: #777;
}
.with-tagline {
  margin-bottom: 0;
}
.tagline {
  color: #777;
}

/* paragraphs */
p {
  margin-bottom: 1em;
}
p strong {
  color: #666;
}

/* quotes */
blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -0.4em;
}
blockquote b {
  display: block;
  text-indent: 0;
}

/* links */
a {
  color: blue;
}
a:hover {
  text-decoration: none;
}

/* Utilitites */
.hidden {
  display: none;
}
