// Pallete
$text-color: #636F70;
$link-color: #02779E;
$primary-color: #D81D26;
$secondary-color: #268D78;
$light-gray: #f2f2f1;
$dark-gray: #1b1f23;

// Includes
@import 'application/normalize';
@import 'application/mixins';
@import 'default/layout';

// Main navigation
