/*
 * Layout
 */

.main-header,
.main-content,
.main-footer {
  width: 80%;
  padding: 0 10%;
}

// Header
.main-header {
  height: 30px;
  padding: 20px 10%;
  line-height: 30px;
  background: #fefefe;
  border-bottom: 1px solid #d0d0d0;

  h1 {
    font-weight: bold;
    margin-right: 30px;
    float: left;
    a {
      line-height: 0;
      display: block;
    }
  }
  nav,
  ul {
    float: left;
  }
  li {
    display: inline-block;
    a {
      padding: 0 0.5em;
    }
  }
  .authentication {
    float: right;
    margin: 0;
    img {
      height: 30px;
      float: left;
      margin-right: 0.5em;
    }
    a {
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid #ccc;
      &.first {
        border: none;
      }
    }
  }
  .lang {
    display: block;
    clear: both;
    float: right;
    li {
      background-color: yellow;
    }
    a {
      background-color: white;
      line-height: 30px;
      display: block;
    }
  }
}

// Content
.main-content {
  clear: both;

  .schedule {
    table {
      width: 100%;
      margin-bottom: 20px;
    }
    td {
      border: 1px solid #dedede;
      padding: 1em;
    }
  }
  .speaker,
  .post,
  .conference-edition,
  .sponsor-kind {
    margin-bottom: 60px;
  }
  .block {
    clear: both;
    overflow: auto;
    margin-bottom: 60px;
    img {
      float: left;
      max-width: 230px;
    }
    .info {
      padding-left: 250px;
      border-bottom: 1px solid transparent;
      h1 {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}

// Footer
.main-footer {
  margin-top: 60px;
  border-top: 1px solid #d0d0d0;
  text-align: center;
  .primary-heading {
    font-size: 24px;
  }
  .secondary-heading {
    font-size: 18px;
  }
  .sponsor,
  .networks li {
    display: inline-block;
    a {
      padding: 10px;
    }
  }
}
