/*
 * Layout
 */

.main-header,
.main-content,
.main-footer {
  width: 80%;
  padding: 0 10%;
}

// Header
.main-header {
  h1,
  ul,
  li,
  .authentication {
    display: inline-block;
    line-height: 60px;
  }
  h1 {
    font-weight: bold;
    margin-right: 1em;
  }
  nav {
    float: left;
  }
  .authentication {
    float: right;
  }
}

// Content
.main-content {
  clear: both;

  .schedule {
    table {
      width: 100%;
      margin-bottom: 20px;
    }
    td {
      border: 1px solid #dedede;
      padding: 1em;
    }
  }
  .speaker,
  .post,
  .conference-edition,
  .sponsor-kind {
    margin-bottom: 40px;
  }
  .speaker {
    h1 {
      margin-bottom: 0;
    }
    .company,
    .city {
      margin-bottom: 0;
      color: #777;
      font-size: 0.9em;
    }
    .city {
      margin-bottom: 1em;
    }
    img {
      float: left;
      margin-right: 20px;
    }
  }
}

// Footer
.main-footer {
  border-top: 1px solid #d0d0d0;
  text-align: center;
  .primary-heading {
    font-size: 24px;
  }
  .secondary-heading {
    font-size: 18px;
  }
  .sponsor,
  .networks li {
    display: inline-block;
    a {
      padding: 10px;
    }
  }
}
