// Pallete
$orange: #f15a24;
$light_orange: #f8622c;
$dark_orange: #da4a16;
$darker_orange: #c33401;
$light_gray: #f4f4f5;
$dark_gray: #7f8081;
$dark_blue: #1c1737;

// Imports
@import 'application/normalize';
@import 'application/mixins';

// Global Styles
h1 {
  font-size: 1.5em;
}
img {
  max-width: 100%;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 8px;
  color: #fff;
  text-shadow: $darker_orange 0 -1px 0;
  border: 1px solid $dark_orange;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: $orange;
  -webkit-box-shadow: $dark_orange 0 0.4em 0px, $light_orange 0 1px 0 inset;
  box-shadow: $dark_orange 0 0.4em 0px, $light_orange 0 1px 0 inset;
  position: relative;
}
.btn:hover {
  background-color: $dark_orange;
  -webkit-box-shadow: $darker_orange 0 0.4em 0px, $dark_orange 0 1px 0 inset;
  box-shadow: $darker_orange 0 0.4em 0px, $dark_orange 0 1px 0 inset;
}
.btn:active {
  top: 0.3em;
  -webkit-box-shadow: $darker_orange 0 0.2em 0px;
  box-shadow: $darker_orange 0 0.2em 0px;
}

// Header
.main-header {
  background-color: $orange;
  overflow: auto;
  .logo {
    margin: 0;
    line-height: 0;
    max-width: 150px;
    padding: 0.5em;
  }
}

// Intro
.intro {
  padding: 10em;
  background: transparent url(marketing/bg.jpg) center center no-repeat;
  background-size: cover;
  color: rgba(255,255,255,0.7);
  text-align: center;
  ul {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 0.5em;
    }
  }
}

// Stages
.stages {
  text-align: center;
  overflow: auto;
  padding: 5em;
  h2 {
    margin-bottom: 2em;
  }
  section {
    width: 30.66%;
    margin-right: 4%;
    float: left;
    box-sizing: border-box;
    &.last {
      margin-right: 0;
    }
  }
}

// Main Features
.main-features {
  background: #ececec;
  overflow: auto;
  padding: 5em;
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  .table {
    display: table;
    width: 100%;
    .table-row {
      display: table-row;
    }
    section {
      display: table-cell;
      text-align: center;
      padding: 2em;
    }
  }
}

// Customers
.customers {
  padding: 5em;
  text-align: center;
  h2 {
    text-align: center;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 1em;
    }
  }
}

// Footer
.main-footer{
  clear: both;
  background: #333;
  padding: 1em;
  color: #777;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    color: #cecece;
    text-decoration: none;
    padding: 1em;
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}
