<%# @param images [Models::Image] %>

<ul class="unstyled">
  <% images.each do |i| %>
    <li>
      <%= image_tag i.image %>
      <%= i.image %>
      <%= simple_form_for [:admin, @conference_edition, i], html: { class: 'removal-form' } do |form| %>
        <%= form.input_field :remove_image, as: :hidden %>
        <button type="submit" class="unstyled">
          <i class="fa fa-trash-o"></i>
        </button>
      <% end %>
    </li>
  <% end %>
</ul>
